@import "../node_modules/bootstrap/scss/bootstrap";

body{
    margin:50px;
}
.emoji-smile{
    height: 50px;
}
.img-colorfull{
    border-radius: 45px;
}
.card{
    border-radius: 35px;
    border: 1px solid gray;
}
.score_icons{
    width: 70px;
}
.score_icons:hover{
    transform: scale(1.2);
}
