@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Ubuntu:wght@700&display=swap');

body {
    margin: 50px;
    background-color: darkslategray;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h4 {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.emoji-smile {
    height: 50px;
}

.img-colorfull {
    border-radius: 45px;
}

.general-card-box {
    padding-inline: 40px;
}

.card {
    border-radius: 35px;
}

.score_icons {
    width: 70px;
    cursor: pointer;
}

.score_icons:hover {
    transform: scale(1.2);
}

.score_icons:active{
    transform: scale(0.8) ;
}
.Love {
    padding-left: 50px;
}

.JokeNotFound {
    padding-right: 45px;
}

// Button
.button a{
    color:white;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
    font-size:36px;
    width: 50%;
    text-align: center;
    text-decoration:none;
    background-color:#fd0ae9;
    display:block;
    position:relative;
    padding:20px 40px;
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #7700a5;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #7700a5;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #7700a5;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
  }
  
  .button a:active{
    top:10px;
    background-color:#fba80d;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }